body {
  background: linear-gradient(to bottom, #f0f5f9, #bdd8eb); /* Градиент ваших голубых цветов */
}

.bat-card {
    border: 0;
}

.bat-card-footer {
    background-color: white;
    border: 0;
}

a.logo {
    display: block;
    width: 40px;
    margin: 0 40px 0 20px;
}

a.logo img {
  width: 60px;
  border-radius: 11%;
}

.banner {
    padding-top: 15px;
}

.battery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
    transition: transform 0.3s ease;
}

.flag {
    width: 30px;
    height: 18px;
}

.bat-slide {
    background-color: #f8f9fa;
    border-radius: 1em;
}

.bat-button {
    background-color:  #000080;
    color: white;
}

.bat-button:hover {
    color: #e60000;
}

.banner-price {
    color:#e60000;
}

.banner-logo {
  position: relative; 
  bottom: 10px;
}

.navbar {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  border: 1px solid #ccc;
}

.form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
    background-color: #f8f9fa;
	border-radius: 25px;
  }
  
  .title {
    color: #000080;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container2 {
    position: relative;
    margin: 1rem 0;
  }
  
  .input, .btn {
    outline: none;
    border: 2px solid #000080;
    background: none;
    padding: 0.6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  
  .btn {
    padding: 0.6rem 1.3rem;
    border: 2px solid #000080;
    font-size: 0.95rem;
    background-color:  #000080;
    color: white;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
  }
  
  .btn:hover {
    color: #e60000;
  }

  .navigation{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: black;
    font-size: 17px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: 0 10px;
  }
  
  .navigation:after{
    content: "";
    position: absolute;
    background-color: #000080;
    height: 2px;
    width: 0;
    left: 10px;
    bottom: -6px;
    transition: 0.3s;
  }
  
  .navigation:hover{
    color: #000080;
  }
  
  .navigation:hover:after{
    width: 84%;
  }

  .navigation.active {
    color: #000080;
  }

 .popup {
  display: none;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1);
  width:380px;
  border: 2px solid #000080;
  background:#fff;
  box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
  border-radius:25px;
  transition:top 0ms ease-in-out 0ms,
             opacity 200ms ease-in-out 0ms,
             transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
  z-index: 1001;
  position:absolute;

  top:23px;
  right:23px;
  width:15px;
  height:15px;
  background:black;
  color:white;
  text-align:center;
  line-height:15px;
  border-radius:15px;
  cursor:pointer;
  font-size: 15px;
  font-style: normal;
}

.close-btn:hover {
  color: #e60000;
}

.popup .form h2 {
  text-align:center;
  color:#222;
  margin:10px 0px 20px;
  font-size:25px;
}

.popup .form .form-element {
  margin:15px 0px;
}

.admin {
  width: 400px;
  margin:auto;
  padding: 2.3rem 2.2rem;
  border: 2px solid #000080;
  background-color: #f8f9fa;
  border-radius: 25px;
  text-align: center;
}

.phone {
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: black !important;
  font-size: 14px;
  border: none;
  margin-top: 15px;
}

.phone2 {
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: black !important;
  font-size: 18px;
  width: 50%;
  margin-top: 15px;
}

.main {
  margin-left: 1rem !important;
}

@media (min-width:768px) {
  .phone {
    display: none;
  }
}

@media (max-width:768px){

  .bat-slide {
   height: 550px;
  }

  .navigation:after{
    content: "";
    position: absolute;
    background-color: transparent;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  .popup {
    width: 310px;
  }

  .admin {
    width: 310px;
  }
	
  .main {
    margin-left: 0 !important;
  }

  .phone2 {
    display: none;
  }
}


@media (min-width: 768px) {
  .carousel-container{
    height: 450px;
  }
  .left-content .subtext{
    font-size: 28px;
    color: rgb(61, 61, 61);
    font-weight: normal;
  }
  .left-content .title span{
    display: inline-block;
    position: relative;
  }
  
  .left-content .title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Выберите значение для отступа подчеркивания */
    width: 100%;
    height: 3px; /* Высота подчеркивания */
    background-color: #007af8; /* Цвет подчеркивания */
  }
  
  .left-content .title{
    line-height: 49px;
    color:#007af8;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
  }
  .crown-text{
    margin-top: 20px;
    padding: 20px;
  }
  
  .crown-text .title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color:white
  }
  
  .crown-text p{
    font-size: 20px;
    font-weight: normal;
    color:rgb(196, 237, 255)
  }
  
  .crown-text p span{
    display: inline-block;
    position: relative;
    color:white
  }
  
  .crown-text p span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выберите значение для отступа подчеркивания */
    width: 100%;
    height: 3px; /* Высота подчеркивания */
    background-color:white; /* Цвет подчеркивания */
  }
  
  .orta .orta-image{
    margin-top: 3%;
  }
  
  .orta-text{
    padding: 10px;
    margin-top: 3%;
  }
  .orta .title{
    line-height: 49px;
    color:#007af8;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
  }
  .orta p{
    font-size: 18px;
    color: rgb(61, 61, 61);
    font-weight: normal;
  }
  .left-item{
    background-image: url('../images/left.png');
    background-size: cover;
  }
  .center-item{
    background-image: url('../images/center.png');
    background-size: cover;
  }
  .right-item{
    background-image: url('../images/right.png');
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .left-content .title span{
    display: inline-block;
    position: relative;
  }
  
  .left-content .title span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Выберите значение для отступа подчеркивания */
    width: 100%;
    height: 3px; /* Высота подчеркивания */
    background-color: #007af8; /* Цвет подчеркивания */
  }
  
  .left-content .title{
    line-height: 27px;
    color:#007af8;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
  }
  .left-content .subtext{
    font-size: 16px;
    color: rgb(61, 61, 61);
    font-weight: normal;
  }
  .carousel-item {
    padding: 20px 10px!important;
  }
  
  .crown-text .title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white
  }
  
  .crown-text p{
    font-size: 20px;
    font-weight: normal;
    color:rgb(196, 237, 255)
  }
  
  .crown-text p span{
    display: inline-block;
    position: relative;
    color:white
  }
  
  .crown-text p span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Выберите значение для отступа подчеркивания */
    width: 100%;
    height: 3px; /* Высота подчеркивания */
    background-color:white; /* Цвет подчеркивания */
  }
  
  .orta .orta-image{
    margin-top: 3%;
    max-height: 200px;
  }
  
  .orta-text{
    padding: 10px;
  }
  .orta .title{
    line-height: 26px;
    color:#007af8;
    align-self: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 15px;
  }
  .orta p{
    font-size: 15px;
    color: rgb(61, 61, 61);;
    font-weight: normal;
  }
  .center-item{
    background-image: url('../images/center.png');
    background-size: cover;
  }
}

.carousel-inner{
  height: 100%;
  border-radius: 15px;
}
.carousel-item{
  height: 100%;
}

.left-content{
  margin-top: 5%;
}

.carousel-form{
  margin-top: 5%;
}

.carousel-form form{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel-form .input-container{
  background-color: white;
  border-radius: 5px;
}

.carousel-form input{
  background-color: white;
  border: none;
  border-bottom: 2px solid #007af8; /* Толщина и цвет нижней границы */
  border-radius: 10px 10px 0 0; /* Закругление только сверху */
  padding: 10px;
  outline: none; /* Убираем стандартное выделение при фокусе */
}

.carousel-form input:focus {
  border-color: #00d2ff; /* Цвет нижней границы при фокусе */
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.carousel-form button{
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(45deg, #0029a2, #008afc, #012aa4);
  background-size: 200% 200%;
  animation: gradientShift 5s infinite;
}

.carousel-form button:hover{
 color:white;
}

.card{
  text-align: center;
  padding: 20px 30px;
  color: rgb(80, 80, 80);
}

.card-header{
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  margin-top: 20px;
  padding: 0;
}
.card-title{
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.tok-value{
  font-size: 14px;
}

.card-body{
  text-align: left;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
}



.price-container{
  margin: 20px 0 0 ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-price {
  position: relative;
  font-size: 22px;
  color: black;
}

.old-price{
  position: relative;
  font-size: 15px;
  color: rgb(143, 143, 143);
}
.old-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -3px;
  width: 120%;
  height: 1px; /* Толщина линии */
  background-color: rgba(80, 80, 80, 0.7);
  transform: rotate(-5deg); /* Угол наклона */
  transform-origin: left center;
}
.card-warning{
  color: rgb(80, 80, 80);
  font-size: 12px;
}


.card-button {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0px;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 30px;
  color: rgb(80, 80, 80);
  cursor: pointer;
  background: transparent;
  background-size: 200% 200%;
  
  transition: background-image 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #0029a2, #008afc, #012aa4);
  background-size: 200% 200%;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
}

.card-button:hover {
  color: white;
  background: linear-gradient(45deg, #0029a2, #008afc, #012aa4);
  background-size: 200% 200%;
  animation: gradientShift 5s infinite;
  border-color: white; /* Исправлено */
}

.card-button:hover:before {
  opacity: 1;
  color: white;
  background: linear-gradient(45deg, #0029a2, #008afc, #012aa4);
  background-size: 200% 200%;
  animation: gradientShift 5s infinite;
  border-color: white; /* Исправлено */
}

.card-footer{
  margin-top: 10px;
  width: 100%;
  padding: 0;
}

.card-footer a{
  display: block;
  width: 100%;
}

.card-image-container {
  position: relative; /* Делаем контейнер относительно позиционированным */
  display: inline-block; /* Для того, чтобы размер контейнера соответствовал размеру основного изображения */
  overflow: hidden;
}

.battery {
  display: block; /* Убираем стандартные отступы для изображений и делаем их блочными элементами */
  max-width: 100%; /* Ограничиваем максимальную ширину, чтобы изображение было адаптивным */
  height: auto;
}

.card-image-container .flag{
  position: absolute;
  width: 40px;
  height: 20px;
  right: 5px;
  top: 5px;
  opacity: 0.9;
}

.card{
  box-shadow: none!important;
}

.card:hover{
  box-shadow: 0px 0px 8px #65baff4d!important;
}

.card:hover .battery {
  transform: scale(1.1); /* Приближает изображение на 10% */
}

.input-container2 .btn{
  border-radius: 15px;
  background-color: transparent;
  color: rgb(80, 80, 80);
  border: 1px solid rgb(80, 80, 80);;
}

.btn:hover {
  background-color: white;
}
.buy-modal .modal-content{
  margin-top: 10%;
}
.buy-modal{
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto!important;
}

.modal-content{
  /* border: 1px solid #007af8!important; */
}

@media (min-width: 576px){
  .modal-dialog {
      max-width:100vw!important;
      margin: 1.75rem auto;
  }
}
.buy-modal .modal-header{
  text-align: center;
}
.buy-modal .modal-header button{
  border: none;
  outline: none;
  background: transparent;
}
.buy-modal .modal-header button span{
  font-size: 30px;
  color: rgb(61, 61, 61);
}

.modal-left{
  padding: 20px 40px;
}
.modal-body{
  display: flex;
  justify-content: space-between;
}

.modal-body .image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.modal-body .image-container img{
  max-width: 200px;
  width: 100%;
  height: fit-content;
}
.modal-name{
  font-size: 25px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
.modal-amper{
  font-size: 14px;
  color: rgb(80, 80, 80);
}
.modal-price{
  font-size: 22px;
  color: black;
}
.modal-right form{
  /* border: 1px solid rgb(80, 80, 80); */
  border-radius: 15px;
  padding: 10px 20px;
  
}
.modal-right label{
  color: rgb(61, 61, 61);
  font-weight: 300;
  font-size: 14px;
}
.modal-right .form-group{
  margin: 10px 0;
}
.modal-right select, .modal-right input{
  border: none;
  border-bottom: 1px solid #007af8 !important;
}
.modal-right input{
  font-size: 15px;
}

.modal-right option{
  font-size: 15px;
  font-weight: normal;
  color: rgb(61, 61, 61);
  padding: 10px 5px;
}
#buyModal{
  padding-right: 0!important;
}

.modal-footer .close{
  cursor: pointer;
  background-color: transparent;
  color:rgb(61, 61, 61);
  border: 1px solid rgb(61, 61, 61);
  border-radius: 8px;
}

.modal-footer .send{
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(45deg, #0029a2, #008afc, #012aa4);
  background-size: 200% 200%;
  animation: gradientShift 5s infinite;
}

.whatsapp-button {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(42,168,26);
  border-radius: 50px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  text-decoration: none;
}

.whatsapp-button:hover {
  background-color: rgb(42,168,26);
}

.whatsapp-icon {
  height: 40px;
  width: 40px;
}

.whatsapp-text {
  display: block;
  color: white;
}

/* For smaller screens, only show the icon */
@media (max-width: 600px) {
  .whatsapp-text {
      display: none;
  }

  .whatsapp-button {
      border-radius: 50%; /* Make the button circular for smaller screens */
      padding: 10px;
  }
}

.scroll-top-button {
  position: fixed;
  right: 14px;
  bottom: 75px;
  z-index: 1000; /* чтобы быть поверх большинства других элементов */
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  background-color: #007af8;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  opacity: 0; /* кнопка будет полностью прозрачной по умолчанию */
  transition: opacity 0.5s; /* плавный переход только для свойства opacity */
  pointer-events: none; /* чтобы кнопка не реагировала на клики, пока она прозрачна */
}

.scroll-top-button:hover {
  background-color: #555;
}

.scroll-top-button.show {
  opacity: 1;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}